body {
    margin-top: 50px;
    background-color: skyblue;
}

.heading {
    text-align: center;
    color: red;
    font-family: times new roman;
}

section {
    float: left;
    width: 100%;
}

.group {
    float: left;
    width: 100%;
    margin-top: 100px;
}

.button {
    float: left;
    width: 100%;
}

.btn {
    float: left;
    width: 100%;
}

.form {
    float: left;
    width: 100%;
}

.login_f {
    float: left;
    width: 100%;
}

.signup_f {
    float: left;
    width: 100%;
}

.hidden {
    display: none;
}

.show {
    display: block;
}